h1 {position: relative;}

.table1 th + th {text-align: center; width: 200px;}
.table1 td + td {text-align: center;}
#keepext {margin-left:10px;}

#ext_upload {float:left; width:100%; margin:0;}
#ext_upload > fieldset {background:url(images/spacer.png) repeat;border-radius:15px;border:none;}
#remote_upload {width:20%; margin-left:10px; float:left;display:none;}

#extupload {width:80%; margin-top:5px;}

#br_form_upload {display:block; clear:both; width:100%; height:10px;}

#ext_table{width:100%; margin-top:16px; background:url(images/spacer.png) repeat;}
#ext_table td:nth-child(1) {text-align: left;}
#ext_table td {text-align: center;}

#upload {display: none; position:absolute; margin-top: -70px; padding: 0; width: 100%; text-align: center;}

#uploaded_ok {
    display: inline-block;
    padding: 5px 5px;
    margin-right: 15px;
    border-radius: 100%;
    color: #edfbf7;
    font-weight: bold;
    font-size: .8em;
    background: #75a875;
    background: -moz-linear-gradient(top, #92d992 0%, #228822 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #92d992), color-stop(100%, #228822));
    background: -webkit-linear-gradient(top, #92d992 0%, #228822 100%);
    background: -o-linear-gradient(top, #92d992 0%, #228822 100%);
    background: -ms-linear-gradient(top, #92d992 0%, #228822 100%);
    background: linear-gradient(to bottom, #92d992 0%, #228822 100%);
}

#enable_uploaded {
    display: inline-block;
    float: right;
    padding: 0 10px;
    border-radius: 15px;
    color: #edfbf7;
    font-weight: bold;
    font-size: .6em;
    text-decoration: none;
    background: #75a875;
    background: -moz-linear-gradient(top, #92d992 0%, #228822 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #92d992), color-stop(100%, #228822));
    background: -webkit-linear-gradient(top, #92d992 0%, #228822 100%);
    background: -o-linear-gradient(top, #92d992 0%, #228822 100%);
    background: -ms-linear-gradient(top, #92d992 0%, #228822 100%);
    background: linear-gradient(to bottom, #92d992 0%, #228822 100%);
}

#enable_uploaded:hover {
    background: #228822;
    background: -moz-linear-gradient(top, #228822 0%, #92d992 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #228822), color-stop(100%, #92d992));
    background: -webkit-linear-gradient(top, #228822 0%, #92d992 100%);
    background: -o-linear-gradient(top, #228822 0%, #92d992 100%);
    background: -ms-linear-gradient(top, #228822 0%, #92d992 100%);
    background: linear-gradient(to bottom, #228822 0%, #92d992 100%);
}

.rtl #enable_uploaded {
    float: left;
}

#back_to_upload {display:block; margin-bottom:15px;}

.ext_updated_notice {width: 100%; background-color: #fdfcd3; box-sizing: border-box; color: #706e25; display: block;}
.ext_updated_notice h1 {color: #706e25 !important;}

.ext_self_updated_notice {width: 100%; background-color: #d7fdd3; box-sizing: border-box; color: #1e5c18; display: block;}
.ext_self_updated_notice h1 {color: #1e5c18 !important;}

#filetree {
    display: none;
    min-height: 480px;
    border: 1px solid #CCCFD3;
    background-color: #F9F9F9;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
}

#markdown {
    border: 1px solid #CCCFD3;
    background-color: #F9F9F9;
    border-radius: 5px;
    padding: 10px 30px;
    margin-top: 15px;
}

#show_filetree, #hide_filetree {
    float: right;
    color: #105289;
    cursor: pointer;
}
#show_filetree:hover, #hide_filetree:hover {
    color: #bc2a4d;
    text-decoration: underline;
}

.select_all_code {
    position: absolute;
    bottom: 5px;
    right: 15px;
    font-size: 10px;
}

form fieldset {border-radius:0;}

.semibtn {width: auto !important; padding: 1px 3px 0 3px; color: #000; font-size: 0.85em; vertical-align:middle; background: #EFEFEF url(/adm/images/bg_button.gif) repeat-x top;  cursor: pointer; border: 1px solid #666666; text-decoration:none; margin-left:10px;}
.seminbtn hover {border: 1px solid #BC2A4D;background: #EFEFEF url("/adm/images/bg_button.gif") repeat bottom;color: #bc2a4d;text-decoration:none;}
.seminbtn a {text-decoration:none;}

#filetreenames {
    float: left;
    width: 45%;
}

#filecontent_wrapper {
    float: right;
    position: relative;
    box-sizing: border-box;
    width: 55%;
    min-height: 450px;
    border: 1px solid #CCCFD3;
    padding: 0 0 15px 0;
    white-space: nowrap;
    background-color:#F7F7F7;
    border-radius: 15px;
}

@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
    #filetreenames {
        float: none !important;
        width: auto !important;
    }

    #filecontent_wrapper {
        float: none !important;
        width: auto !important;
        min-height: 30px;
    }
}

div.filecontent {
    box-sizing: border-box;
    width: 100%;
    height: 400px;
    padding: 10px;
    font-size: 11px;
    overflow: auto;
}

div.filename {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 28px;
    padding: 5px 0px;
    overflow: hidden;
    margin: 0;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    background: #a9acae;
    background: -moz-linear-gradient(top, #DBDFE2 0%, #a9acae 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #DBDFE2), color-stop(100%, #a9acae));
    background: -webkit-linear-gradient(top, #DBDFE2 0%, #a9acae 100%);
    background: -o-linear-gradient(top, #DBDFE2 0%, #a9acae 100%);
    background: -ms-linear-gradient(top, #DBDFE2 0%, #a9acae 100%);
    background: linear-gradient(to bottom, #DBDFE2 0%, #a9acae 100%);;
    color: #f8f9fe;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#valid_phpbb_ext_wrapper {
    margin: 0 0 10px 0;
	float:left;
}

.ext_zips_table {
    width: 100%;
    table-layout: fixed;
    margin-top: 16px;
	background:url(images/spacer.png) repeat;
}
.ext_zips_table td:nth-child(1) {text-align: left;}
.ext_zips_table td {text-align: center;}

.zip_name {
    width: 50%;
}

div.ext_zip_name {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 100%;
}

.fileinputs {
	margin-left:10px;
	float:left;
	display:none;
}

.fileinputs > label {
	font-size:1.2em;font-weight:700;color:white;background-color:#105289;display:inline-block;padding:1px 5px;
}
.fileinputs > label > span {
	font-size:.7em;font-weight:normal;
}

.fileinputs > input {
	width:0.1px;height:0.1px;opacity:0;overflow:hidden;position:absolute;z-index:-1;
}

.file-wrapper {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
  float:right;
}

.file-wrapper .button {
  background: none;
  border-color:transparent;
  padding:0;
  color: #536482;
  font-size:1em;
  font-weight:normal;
  cursor: pointer;
  display: inline-block;
}
.file-wrapper input {
  cursor: pointer;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.file-wrapper input {
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.file-wrapper input {
  filter: alpha(opacity=1);
  -moz-opacity: 0.01;
  opacity: 0.01;
}

.s-hidden {
  visibility:hidden;
  padding-right:10px;
}

.select {
  cursor:pointer;
  display:inline-block;
  position:relative;
  color:black;
  border:1px solid #ccc;
  width:340px;
}

.styledSelect {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-color:white;
  padding:0 10px;
}

.styledSelect:after {
  content:"";
  width:0;
  height:0;
  border:5px solid transparent;
  border-color:black transparent transparent transparent;
  position:absolute;
  top:9px;
  right:6px;
}

.styledSelect:active,
.styledSelect.active {
  background-color:#eee;
}

.selectoptions {
  max-height:200px;
  overflow-y:scroll;
  display:none;
  position:absolute;
  top:100%;
  right:0;
  left:0;
  z-index:999;
  margin:0 0;
  padding:0 0;
  list-style:none;
  border:1px solid #ccc;
  background-color:white;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);
  box-shadow:0 1px 2px rgba(0,0,0,0.2);
}

.selectoptions li {
  margin:0 0;
  padding:0 10px;
}

.selectoptions li:hover {
  background-color:#39f;
  color:white;
}

.php-file-tree {
    font-size: 1em;
}

.php-file-tree li {
    vertical-align: middle;
    padding: 0;
    margin-bottom: 3px;
}

.php-file-tree li span {
    vertical-align: top;
    padding: 0;
    margin: 0;
}

.php-file-tree li.pft-file, .php-file-tree li.pft-directory span {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.php-file-tree li.pft-directory span {
    padding: 0 0 0 30px;
    margin: 0 0 0 -30px;
}

.php-file-tree li.pft-file:hover, .php-file-tree li.pft-directory span:hover {
    color: #666666;
}

.php-file-tree .open {
    font-style: italic;
}

.php-file-tree .closed {
    font-style: normal;
}

.php-file-tree .pft-directory {
    list-style-image: url(images/directory.png);
}
/* Default file */
.php-file-tree LI.pft-file { list-style-image: url(images/file.png);overflow:hidden; text-overflow:ellipsis;white-space:nowrap;width:280px; }
/* Additional file types */
.php-file-tree LI.ext-3gp { list-style-image: url(images/film.png); }
.php-file-tree LI.ext-afp { list-style-image: url(images/code.png); }
.php-file-tree LI.ext-afpa { list-style-image: url(images/code.png); }
.php-file-tree LI.ext-asp { list-style-image: url(images/code.png); }
.php-file-tree LI.ext-aspx { list-style-image: url(images/code.png); }
.php-file-tree LI.ext-avi { list-style-image: url(images/film.png); }
.php-file-tree LI.ext-bat { list-style-image: url(images/application.png); }
.php-file-tree LI.ext-bmp { list-style-image: url(images/picture.png); }
.php-file-tree LI.ext-c { list-style-image: url(images/code.png); }
.php-file-tree LI.ext-cfm { list-style-image: url(images/code.png); }
.php-file-tree LI.ext-cgi { list-style-image: url(images/code.png); }
.php-file-tree LI.ext-com { list-style-image: url(images/application.png); }
.php-file-tree LI.ext-cpp { list-style-image: url(images/code.png); }
.php-file-tree LI.ext-css { list-style-image: url(images/css.png); }
.php-file-tree LI.ext-doc { list-style-image: url(images/doc.png); }
.php-file-tree LI.ext-exe { list-style-image: url(images/application.png); }
.php-file-tree LI.ext-gif { list-style-image: url(images/picture.png); }
.php-file-tree LI.ext-fla { list-style-image: url(images/flash.png); }
.php-file-tree LI.ext-h { list-style-image: url(images/code.png); }
.php-file-tree LI.ext-htm { list-style-image: url(images/html.png); }
.php-file-tree LI.ext-html { list-style-image: url(images/html.png); }
.php-file-tree LI.ext-jar { list-style-image: url(images/java.png); }
.php-file-tree LI.ext-jpg { list-style-image: url(images/picture.png); }
.php-file-tree LI.ext-jpeg { list-style-image: url(images/picture.png); }
.php-file-tree LI.ext-js { list-style-image: url(images/script.png); }
.php-file-tree LI.ext-lasso { list-style-image: url(images/code.png); }
.php-file-tree LI.ext-log { list-style-image: url(images/txt.png); }
.php-file-tree LI.ext-m4p { list-style-image: url(images/music.png); }
.php-file-tree LI.ext-mov { list-style-image: url(images/film.png); }
.php-file-tree LI.ext-mp3 { list-style-image: url(images/music.png); }
.php-file-tree LI.ext-mp4 { list-style-image: url(images/film.png); }
.php-file-tree LI.ext-mpg { list-style-image: url(images/film.png); }
.php-file-tree LI.ext-mpeg { list-style-image: url(images/film.png); }
.php-file-tree LI.ext-ogg { list-style-image: url(images/music.png); }
.php-file-tree LI.ext-pcx { list-style-image: url(images/picture.png); }
.php-file-tree LI.ext-pdf { list-style-image: url(images/pdf.png); }
.php-file-tree LI.ext-php { list-style-image: url(images/php.png); }
.php-file-tree LI.ext-png { list-style-image: url(images/picture.png); }
.php-file-tree LI.ext-ppt { list-style-image: url(images/ppt.png); }
.php-file-tree LI.ext-psd { list-style-image: url(images/psd.png); }
.php-file-tree LI.ext-pl { list-style-image: url(images/script.png); }
.php-file-tree LI.ext-py { list-style-image: url(images/script.png); }
.php-file-tree LI.ext-rb { list-style-image: url(images/ruby.png); }
.php-file-tree LI.ext-rbx { list-style-image: url(images/ruby.png); }
.php-file-tree LI.ext-rhtml { list-style-image: url(images/ruby.png); }
.php-file-tree LI.ext-rpm { list-style-image: url(images/linux.png); }
.php-file-tree LI.ext-ruby { list-style-image: url(images/ruby.png); }
.php-file-tree LI.ext-sql { list-style-image: url(images/db.png); }
.php-file-tree LI.ext-swf { list-style-image: url(images/flash.png); }
.php-file-tree LI.ext-tif { list-style-image: url(images/picture.png); }
.php-file-tree LI.ext-tiff { list-style-image: url(images/picture.png); }
.php-file-tree LI.ext-txt { list-style-image: url(images/txt.png); }
.php-file-tree LI.ext-vb { list-style-image: url(images/code.png); }
.php-file-tree LI.ext-wav { list-style-image: url(images/music.png); }
.php-file-tree LI.ext-wmv { list-style-image: url(images/film.png); }
.php-file-tree LI.ext-xls { list-style-image: url(images/xls.png); }
.php-file-tree LI.ext-xml { list-style-image: url(images/code.png); }
.php-file-tree LI.ext-zip { list-style-image: url(images/zip.png); }
